<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="me">

    <header>
        
        <a href="/" class="back-home">Back to Home</a>
    </header>

    <div class="top-container">

        <img class="top-cloud" src="./images/cloud.png" alt="cloud">
          <div class="title-text">
             <h1 class="erti">I'm Mariami. </h1>
             <h2 class="ori">a <span class="pro">pro</span>grammer.</h2>   
        </div>
          <img class="bottom-cloud" src="./images/cloud.png" alt="cloud">
          <img class="mountain" src="./images/mountain.png" alt="mountain-img">
        </div>
        
        <div class="middle-container">
        <div class="profile">
          <img src="./images/Mariami.png" alt="Mariam-profile-img" width="200">
          <h2 class="ori">Hello.</h2>
          <p class="intro">I am a junior developer.</p>
        </div>
        <hr>
        
        <div class="skills">
            <h2 class="ori">My Skills.</h2>
            <div class="skill-row">
          <img class="code-img" src="./images/giphy.png" alt="code-img">
        
            <h3 class="sami">Design & Development</h3>
            <p class="text">I started learning to code when I was 24 years old because working from home is comfortable. It is also a progressive and valued field. </p>
           
        </div>
        
        <div class="skill-row">
        
        <img class="donut" src="./images/donut.png" alt="donut">
        
        
        <h3 class="sami">Donut  challenge</h3>
        <p class="text">But my best skill is actually in eating donuts,I am the undisputed queen of donut-eating challenges.Donuts with Nutella are my favorite.
        
        
          </div>
        </div>
        <hr class="xazi">
        
        <div class="contact-me">
           <h2 class="ori">Get In Touch</h2>
           <h3 class="sami">If you love donuts as much as I do</h3>
           <p class="contact-message">Love donuts as much as I do? Let's talk about how awesome they are! We can code while we eat donuts!</p>
          <a class="meili" href="mailto:mariam.sikha.22@gmail.com">Contact Me</a>
        
          </div>
        </div>
        
        <div class="bottom-container">
        <a class="footer-link" href="https://www.facebook.com/mariam.sixarulidze.73">Facebook</a>
        <a class="footer-link" href="https://www.instagram.com/sikharulidzemariamii/">Instagram</a>
        <a class="footer-link" href="https://www.threads.net/@sikharulidzemariamii">Threads</a>
        <p class="copyright"> @ 2025 Mariam Sikharulidze</p>
        
      </div>   
        
  
</body>
</html>