# Ignore system files
.DS_Store
Thumbs.db

# IDE directories
.idea/
.vscode/

# Node modules
node_modules/

# Logs
*.log

# Ignore package lock (if you're not using it to lock dependencies)
package-lock.json
